<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Safario Travel - Home</title>


  <link rel="icon" href="{{ url_for ('static', filename= 'Fevicon.png')}}" >
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'all.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'themify-icons.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'style.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'owl.theme.default.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'owl.carousel.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'flaticon.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'nice-select.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'style.css')}}">


</head>
<body class="bg-shape">

  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="{{ url_for ('index')}}"><img src="{{ url_for ('static', filename= 'logo.png')}}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

         <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="{{ url_for ('index')}}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for ('package')}}">Your tour</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for ('contact')}}">Contact</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/feedback/">Feedback</a></li>
              <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/analyse">See piechart</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


  <!--================Hero Banner Area Start =================-->
  <section class="hero-banner magic-ball">
    <div class="container">

      <div class="row align-items-center text-center text-md-left">
        <div class="col-md-6 col-lg-5 mb-5 mb-md-0">
          <h1>Travel More To Discover Yourself</h1>
          <p>Find out interesting places, which will defenitely help to find yourself and gain unvaluable experience </p>
        </div>
        <div class="col-md-6 col-lg-7 col-xl-6 offset-xl-1">
          <img class="img-fluid" src="{{ url_for ('static', filename= 'hero-img.png')}}" alt="">
        </div>
      </div>
    </div>
  </section>
  <!--================Hero Banner Area End =================-->


  <!--================Service Area Start =================-->
  <section class="section-margin generic-margin">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="{{ url_for ('static', filename= 'section-icon.png')}}" alt="">
        <h2>Our Popular Services</h2>
        <p>Due to our tours you do not have to worry about:</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="{{ url_for ('static', filename= 'service1.png')}}" alt="">
            </div>
            <div class="service-card-body">
              <h3>Hotel Booking</h3>
              <p>We will find good accomodation in the city you choose </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="{{ url_for ('static', filename= 'service2.png')}}" alt="">
            </div>
            <div class="service-card-body">
              <h3>Flight Booking</h3>
              <p>No more looking for the airsales, we will provide you within a tour</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="service-card text-center">
            <div class="service-card-img">
              <img class="img-fluid" src="{{ url_for ('static', filename= 'service3.png')}}" alt="">
            </div>
            <div class="service-card-body">
              <h3>Destination Booking</h3>
              <p>We will provide you with all interesting places to visit</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================Service Area End =================-->




  <!--================Tour section Start =================-->
  <section class="section-margin pb-xl-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="tour-card">
            <img class="card-img rounded-0" src="{{ url_for ('static', filename= 'tour1.png')}}" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Chainese traditions</h4>
                  <small>7 days offer</small>
                  <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$105/day</h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-lg-10 offset-lg-1">
              <div class="tour-content">
                <h2>We offer worldwise tour plan recently</h2>
                <p>Wanna explore Chaina? Go ahead with our tours! </p>
              </div>
            </div>
          </div>

          <div class="tour-card">
            <img class="card-img rounded-0" src="{{ url_for ('static', filename= 'tour2.png')}}" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Paris dream</h4>
                  <small>5 days offer</small>
                  <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$65/day</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-7">
          <div class="tour-card">
            <img class="card-img rounded-0" src="{{ url_for ('static', filename= 'tour3.png')}}" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Date in Korea</h4>
                  <small>10 days offer</small>
                  <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$125/day</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-5">
          <div class="tour-card">
            <img class="card-img rounded-0" src="{{ url_for ('static', filename= 'tour4.png')}}" alt="">
            <div class="tour-card-overlay">
              <div class="media">
                <div class="media-body">
                  <h4>Sidney opera night</h4>
                  <small>8 days offer</small>
                  <p>We proper guided our tourist</p>
                </div>
                <div class="media-price">
                  <h4 class="text-primary">$85/day</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================Tour section End =================-->


  <!--================Testimonial section Start =================-->
  <section class="bg-gray section-padding magic-ball magic-ball-testimonial pb-xl-5">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="{{ url_for ('static', filename= 'section-icon.png')}}" alt="">
        <h2>Our client says</h2>
        <p>Here some feedbacks of our servicer</p>
      </div>


      <div class="owl-carousel owl-theme testimonial pb-xl-5">
        <div class="testimonial__item">
          <div class="row">
            <div class="col-md-3 col-lg-2 align-self-center">
              <div class="testimonial__img">
                <img class="card-img rounded-0" src=".{{ url_for ('static', filename= 't-slider1.png')}}" alt="">
              </div>
            </div>
            <div class="col-md-9 col-lg-10">
              <div class="testimonial__content mt-3 mt-sm-0">
                <h3>Daniel Seart</h3>
                <p class="testimonial__i">Had a lot of great experience in Riga!</p>
                <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial__item">
          <div class="row">
            <div class="col-md-3 col-lg-2 align-self-center">
              <div class="testimonial__img">
                <img class="card-img rounded-0" src="{{ url_for ('static', filename= 't-slider1.png')}}" alt="">
              </div>
            </div>
            <div class="col-md-9 col-lg-10">
              <div class="testimonial__content mt-3 mt-sm-0">
                <h3>Din Wart</h3>
                <p class="testimonial__i">Travell without worrying about booking, that is much easier</p>
                <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial__item">
          <div class="row">
            <div class="col-md-3 col-lg-2 align-self-center">
              <div class="testimonial__img">
                <img class="card-img rounded-0" src="{{ url_for ('static', filename= 't-slider1.png')}}" alt="">
              </div>
            </div>
            <div class="col-md-9 col-lg-10">
              <div class="testimonial__content mt-3 mt-sm-0">
                <h3>Wan Kim</h3>
                <p class="testimonial__i">Love these tours! I wish it was more tours in Asia</p>
                <span class="testimonial__icon"><i class="ti-quote-right"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================Testimonial section End =================-->


  <!--================Search Package section Start =================-->
  <section class="section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-5 align-self-center mb-5 mb-lg-0">
          <div class="search-content">
            <h2>Search suitable <br class="d-none d-xl-block"> and affordable plan <br class="d-none d-xl-block"> for your tour</h2>
          </div>
        </div>
        <div class="col-lg-6 col-xl-6 offset-xl-1">
          <div class="search-wrapper">
            <h3>Search Package</h3>

            <form class="search-form" method="POST" action="">
              <div class="form-group">
               <p> {{form.country.label}} <br>
                   {{form.country(size=30)}}

              </p>
              </div>
              <div class="form-group">
                <p> {{form.year_category.label}} <br>
                   {{form.year_category(size=30)}}

              </p>
              </div>
              <div class="form-group">
                <p> {{form.tour_duration.label}} <br>
                   {{form.tour_duration(size=30)}}

              </p>
              </div>
              <div class="form-group">
               <p> {{form.price_range.label}} <br>
                   {{form.price_range(size=30)}}

              </p>
              </div>
              <div class="form-group">
                <p> {{form.submit()}} </p>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--================Search Package section End =================-->


  <!--================Blog section Start =================-->
  <section class="section-padding bg-gray">
    <div class="container">
      <div class="section-intro text-center pb-90px">
        <img class="section-intro-img" src="{{ url_for ('static', filename= 'section-icon.png')}}" alt="">
        <h2>From our Blog</h2>
        <p>Find out exiting events</p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card-blog">
            <img class="card-img rounded-0" src="{{ url_for ('static', filename= 'blog-1.png')}}" alt="">
            <div class="card-blog-body">
              <a href="#">
                <h4>Camping in Ireland</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>April 03, 2018</a></li>
                <li><a href="#"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comments</a></li>
              </ul>
              <p>Best activity for the family! Just imagine wine6 fire and songs. You are almost here! </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card-blog">
            <img class="card-img rounded-0" src="{{ url_for ('static', filename= 'blog-2.png')}}" alt="">
            <div class="card-blog-body">
              <a href="#">
                <h4>Hiking in Spain</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>July 08, 2018</a></li>
                <li><a href="#"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comments</a></li>
              </ul>
              <p>Film watching, swimming and sun bathing. All these you can face in this event. </p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
          <div class="card-blog">
            <img class="card-img rounded-0" src="{{ url_for ('static', filename= 'blog-3.png')}}" alt="">
            <div class="card-blog-body">
              <a href="#">
                <h4>Light festival in Shanghai</h4>
              </a>
              <ul class="card-blog-info">
                <li><a href="#"><span class="align-middle"><i class="ti-notepad"></i></span>Jan 10, 2018</a></li>
                <li><a href="#"><span class="align-middle"><i class="ti-comments-smiley"></i></span>03 Comments</a></li>
              </ul>
              <p>Watch light festival in the most active city in the world </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================Blog section End =================-->


  <!-- ================ start footer Area ================= -->
  <footer class="footer-area">
    <div class="container">


      <div class="footer-bottom">
        <div class="row align-items-center">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made with love by <a href="https://colorlib.com" target="_blank">Liliia Skaletska</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->

<script src="{{ url_for ('static', filename= 'jquery-3.2.1.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'owl.carousel.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'jquery.nice-select.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'jquery.ajaxchimp.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'skrollr.min.js')}}"></script>
  <!-- <script src="js/countdown.js"></script> -->
  <script src="{{ url_for ('static', filename= 'main.js')}}"></script>

</body>
</html>