<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
</head>
<body>

<table border='2'>
    <caption>Events</caption>
    {% for key, value in event.items() %}
        <tr>
            <th>
                {{key}}
            </th>
            <td>
                {{value}}
            </td>
        </tr>
    {% endfor %}
</table>


<table border='2'>
    <caption>Users</caption>
    {% for key, value in user.items() %}
        <tr>
            <th>
                {{key}}
            </th>
            <td>
                {{value}}
            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html> 