<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>event</title>
</head>
<body>
    <form action = "/api" method = "POST" id="form_event">
         <p>Event name<input type = "text" name = "name" value="{{event.get('event_name')}}"/></p>
         <p>Event date<input type = "text" name = "date" value="{{event.get('event_date')}}"/></p>
         <p>Event time<input type = "text" name = "time" value="{{event.get('event_time')}}"/></p>
     </form>
    <button type="submit" form= "form_event" name="action" value="event_update">Submit</button>
</body>
</html> 