<!DOCTYPE html>
<html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/black.css') }}">
	<meta charset="utf-8"/>
	<title> Authorization</title>
		
</head>
<body>
<div class = "header">
	<h1>
		Вітаємо вас на сайті нашої кафедри
	</h1>
</div>
<div class = nav>
	
</div>
<div class = main>
<form action="" method="POST">
	<legend>Authorize yourself</legend>
	Login:<br>
	<input type="text" name="nickname"><br>
	Password:<br>
	<input type="password" name="password">
	<br>
	<input type="submit" name="submit"value="Login">
</form> 
</div>

<div class = footer>
	<h6>
	©
	<p>
	Ponoiko Vladyslav
	</p>
	</h6>
</div>
</body>
</html>