
<!DOCTYPE html>
<html>
<head>
<style>
		@import "black.css"

</style>

<meta charset="utf-8"/>

	<title>
		Group Information
	</title>
</head>
<body>

<div class = "header">
	<h1>
	Welcome!
	That's Campus 2.0
	</h1>
</div>

<div class = nav>
	<a href="index"> Главная </a>
	<a href="materials"> Список группы </a>
	<a href="is_present.html"> Что уже есть </a>
	<a href="authorization.html"> Мой дом </a>
</div>

<div class = main>
<div class = news>
<table>
	<tr>
	<td>ПІ</td>
	<td>Матаналіз</td>
	<td>Технології Веб програмування</td>
	</tr>
	<tr>
	<td>Івченко Іван</td>
	<td>12</td>
	<td>0</td>
	</tr>
	<tr>
	<td>Обрядін Артем</td>
	<td>15</td>
	<td>0</td>
	</tr>
	<tr>
	<td>Бурова Анастасія</td>
	<td>30</td>
	<td>0</td>
	</tr>
	<tr>
	<td>Понойко Владислав</td>
	<td>15</td>
	<td>0</td>
	</tr>
</table>
<p>
 <select>
  <option value="volvo">Івченко Іван</option>
  <option value="saab">Обрядін Артем</option>
  <option value="mercedes">Бурова Анастасія</option>
  <option value="audi">Понойко Владислав</option>
</select> 
<p>
<textarea rows="5" cols="30">
	 here you can tell us smth about yourself in additional!
</textarea> 
<div class = "karta">
	<img usemap="#karta" src="karta.jpg" width="600" height="600">
    	<map name="karta">
    		<area shape="rect" coords="0,0,300,600" title="left" href="#left_side">
    		<area shape="rect" coords="300,0,600,300" title="right_top" href="#right_side_top">
    		<area shape="rect" coords="300,300,600,600" title="right_bot" href="#right_side_bot">
    	</map>

</div>
</div>
</div>
<div class = footer>
	<h6>
	©
	<p>
	Ponoiko Vladyslav
	</p>
	</h6>
</div>
</body>
</html>