certifi==2020.4.5.1
chardet==3.0.4
Click==7.0
cx-Oracle==7.1.3
cycler==0.10.0
Flask==1.0.2
Flask-WTF==0.14.2
helper==2.4.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.14.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mpmath==1.1.0
numpy==1.17.2
panda==0.3.1
pandas==0.25.3
prettytable==0.7.2
pygame==1.9.4
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.3.2
seaborn==0.9.0
six==1.12.0
sklearn==0.0
sympy==1.4
urllib3==1.25.9
Werkzeug==0.15.3
WTForms==2.2.1
