<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            margin: 100px 300px 0 300px;
        }

        div {
            box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.5);
            padding: 20px 20px 10px 20px;
            border-radius: 10px;
        }

        .table {
            margin-bottom: 40px;
        }

        button {
            margin: 0 5px;
        }
    </style>
</head>
<body>
<div>
    <h3>Customer</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{ customer.get('customer_name') }}</td>
            <td>{{ customer.get('customer_age') }}</td>
        </tr>
        </tbody>
    </table>
    <h3>Product</h3>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{ product.get('product_title') }}</td>
            <td>{{ product.get('product_description') }}</td>
            <td>{{ product.get('product_amount') }}</td>
        </tr>
        </tbody>
    </table>
    <form action="/api" method="POST" id="form_user" class="d-flex bd-highlight bd-highlight">
        <button type="submit" class="btn btn-primary p-2 flex-fill bd-highlight" form="form_user" name="action"
                value="redirect_customer">Customer
        </button>
        <button type="submit" class="btn btn-primary p-2 flex-fill bd-highlight" form="form_user" name="action"
                value="redirect_product">Product
        </button>
    </form>
</div>
</body>
</html>