<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form method = "POST" action = "{{url_for('new_order')}}">
		Січ.<input type = "checkbox" name="datecheckbox" value = "1">
		Лют. <input type = "checkbox" name="datecheckbox" value = "2">
		Бер. <input type = "checkbox" name="datecheckbox" value = "3">
		Квіт.<input type = "checkbox" name="datecheckbox" value = "4">
		Трав. <input type = "checkbox" name="datecheckbox" value = "5">
		Черв. <input type = "checkbox" name="datecheckbox" value = "6">
		Лип. <input type = "checkbox" name="datecheckbox" value = "7">
		Серп. <input type = "checkbox" name="datecheckbox" value = "8">
		Вер. <input type = "checkbox" name="datecheckbox" value = "9">
		Жовт. <input type = "checkbox" name="datecheckbox" value = "10">
		Лист. <input type = "checkbox" name="datecheckbox" value = "11">
		Груд. <input type = "checkbox" name="datecheckbox" value = "12">

		<input type = "submit">
	</form>

</body>
</html>