<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My App</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <meta name="theme-color" content="#5eb9d7" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon"/>
    <style>
        nav a {
            margin: 10px 30px 10px 0;
        }
        .container {
            padding-left: 40px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .field-name {
            font-weight: bold;
        }

        select {
            max-height: 100px;
        }


        /* Table styles */
        table {
            border-collapse: separate;
            border-spacing: 0;
            color: #4a4a4d;
            font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        th,
        td {
            padding: 10px 15px;
            vertical-align: middle;
        }
        thead {
            background: #395870;
            color: #fff;
        }
        th:first-child {
            text-align: left;
        }
        tbody tr:nth-child(even) {
            background: #f0f0f2;
        }
        td {
            border-bottom: 1px solid #cecfd5;
            border-right: 1px solid #cecfd5;
        }
        td:first-child {
            border-left: 1px solid #cecfd5;
        }
        ol {
            padding-left: 0;
        }

        form {
            border: 1px solid #c6c7cc;
            border-radius: 5px;
            font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
            overflow: hidden;
            width: 240px;
            padding: 20px 30px 20px 20px;

        }
        input[type="text"] {
            border-radius: 5px;
            font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
            background: #fff;
            border: 1px solid #c6c7cc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
            color: #636466;
            padding: 6px;
            width: 100%;
        }
        input[type="submit"] {
            background: linear-gradient(#49708f, #293f50);
            border: 0;
            color: #fff;
            cursor: pointer;
            font-weight: bold;
            float: left;
            padding: 8px 16px;
        }
        label {
            color: #395870;
            display: block;
            font-weight: bold;
        }
    </style>
</head>

<body class="{{template}}">
    {% block content %}{% endblock %}
</body>
<script>
    const deleteGroupButtons = document.querySelectorAll('.delete-group-btn');
    const deleteUserButtons = document.querySelectorAll('.delete-user-btn');
    const updateGroupButtons = document.querySelectorAll('.update-group-btn');


    deleteGroupButtons.forEach(btn => {
        btn.addEventListener('click', event => {
            fetch(`http://localhost:5000/group/${event.target.dataset.id}`, { method: 'DELETE' })
                .then(res => res.json())
                .then(res => { window.location.replace(`http://${res.redirect}`)})
                .catch(err => { alert(err.message); });
        }) ;
    });

    deleteUserButtons.forEach(btn => {
        btn.addEventListener('click', event => {
            fetch(`http://localhost:5000/user/${event.target.dataset.id}`, { method: 'DELETE' })
                .then(res => res.json())
                .then(res => { window.location.replace(`http://${res.redirect}`)})
                .catch(err => { alert(err.message); });
        });
    });
</script>

</html>
