{% extends "layout.jinja2" %}

{% block content %}
    <div class="container">
        <h1>PRODUCTS</h1>
        <ul id="products">
            {% for product in products %}
                <li>

                    <span class="field-name">Product name:</span>
                    <span class="field-value">{{ product.name }}</span>
                    <br/>
		                <span class="field-name">Product price:</span>
                    <span class="field-value">{{ product.price }}</span>
              		  <br/>
                    <span class="field-name">Added:</span>
                    <span class="field-value">{{ product.created }}</span>

                    <button class="delete-btn" data-id={{product.id}} >Delete</button>

                </li>
            {% endfor %}
        </ul>
            <form action="" method="post">
                <p>
                    {{ form.name.label }} <br>
                    {{ form.name(size=32) }}
                </p>
                <p>
                    {{ form.price.label }} <br>
                    {{ form.price(size=32) }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
    </div>
    <script >
        window.onload = () => {
            const deleteBtns = document.querySelectorAll('.delete-btn');
            deleteBtns.forEach(btn => {
                btn.addEventListener('click', (event) => {
                    fetch(`http://127.0.0.1:5000/product/${event.target.dataset.id}`, {
                        method: 'DELETE',
                        cors: 'no-cors',
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        }
                    })
                    .then(() => {
                        window.location.replace('http://127.0.0.1:5000/product');
                    })
                    .catch(console.error);
                });
        })};
    </script>
{% endblock %}
