<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>
<form action="" method="post">
    <p>
        {{form.number.label}} <br>
        {{form.number(size=30)}}
    </p>
    <p>
        {{form.name.label}} <br>
        {{form.name(size=30)}}
    </p>
    <p>
        {{form.date.label}} <br>
        {{form.date(size=30)}}
    </p>
    <p>
        {{form.cvv.label}} <br>
        {{form.cvv(size=30)}}
    </p>
    <p>
        {{form.submit()}}
    </p>
</form>
</body>
</html>