<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
    <body>
        <form action = "/api" method = "POST" id="form_user">
            <label>First Name and Last Name
                <input type = "text" name = "name" value="{{user.get('user_name')}}"/>
            </label>
            <label>
                Email
                <input type = "email" name = "email" value="{{user.get('user_email')}}" />
            </label>
            <label>
                Password
                <input type = "password" name = "password" value="{{user.get('user_password')}}" />
            </label>
        </form>

        <button type="submit" form="form_user" name="action" value="user_update">Submit</button>
        <style>
        form{
                margin: 10px;
                display: grid;
                grid-gap: 10px;
            }
        </style>
    </body>
</html>