{% extends "layout.html" %}
{% from "register_.html" import render_field %}
{% block content %}

  <div class="container theme-showcase" role="main">

          <div class="row">
            <div class="col-lg-12">
              <div class="well bs-component">
                <form class="form-horizontal", method="POST" action="/login">
                  {{ form.csrf_token }}
                  <fieldset>
                    <legend>Log In</legend>
                    
                    {{ render_field(form.user_mail, placeholder=form.user_mail.label.text) }}
                    {{ render_field(form.user_pass, placeholder=form.user_pass.label.text) }}
                    
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Reset</button>
                        <button  type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          
          </div>
  </div> <!-- /container -->


{% endblock content %}