{% extends "layout.html" %}
{% from "register_.html" import render_field %}
{% block content %}

<div class="container theme-showcase" role="main">

          <div class="row">
            <div class="col-lg-12">
              <div class="well bs-component">
                <form class="form-horizontal", method="POST" action="/question">
                  {{ form.csrf_token }}
                  <fieldset>
                    <legend>User id {{g.sess_var}}'s Question</legend>
                    {{ render_field(form.user_id) }}
                    {{ render_field(form.question_reference) }}
                    {{ render_field(form.question, placeholder=form.question.label.text) }}
                    {{ render_field(form.time_creating, placeholder=form.time_creating.label.text) }}
                    
                    <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Reset</button>
                        <button  type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          
          </div>
  </div> <!-- /container -->



<div class="jumbotron text-center" style="margin-bottom:0" >
  <p>Footer</p>
</div>

{% endblock content %}