<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
</head>
<body>


<h2>meal</h2>
<table border="2">
    <tr>
        <th>name</th>
        <th>price</th>
    </tr>
    <tr>
        <td>{{meal.get('name')}}</td>
        <td>{{meal.get('price')}}</td>
    </tr>
</table>

<h2>menu</h2>
<table border="2">
    <tr>
        <th>name</th>
        <th>content</th>
    </tr>
    <tr>
        <td>{{menu.get('name')}}</td>
        <td>{{menu.get('content')}}</td>
    </tr>
</table>


</body>
</html>