{% extends "layout.jinja2" %}

{% block content %}
    <div class="container">
        <h1>PRODUCTS</h1>
        <ul id="products">
            {% for product in products %}
                <li>
                    <span class="field-name">Product name:</span>
                    <span class="field-value">{{ product.name }}</span>
                    <br/>
		    <span class="field-name">Product price:</span>
                    <span class="field-value">{{ product.price }}</span>
		    <br/>
                    <span class="field-name">Created:</span>
                    <span class="field-value">{{ product.created }}</span>
                  <
                </li>
            {% endfor %}
        </ul>
            <form action="" method="post">
                <p>
                    {{ form.name.label }} <br>
                    {{ form.name(size=32) }}
                </p>
                <p>
                    {{ form.price.label }} <br>
                    {{ form.price(size=32) }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
    </div>
{% endblock %}