{%extends 'main.html'%}

{% block title%}
Note
{% endblock %}

{% block body%}
<div class="container mt-5">
<h1>Добавление заметки</h1>
    <form method = "post">
         <input type = "text" name = "name" id="name" class ="form-control" placeholder = "Введите название заметки"/><br>
         <textarea type = "text" name = "Description" id="Description" class ="form-control" placeholder = "Введите заметку"/></textarea><br>
		 <input type = "submit" class ="btn btn-success" value="Отправить"/><br>
     </form>
</div>
{% endblock %}