<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
</head>
<body style="text-align: center">

<ul class="menu-main">
  <li><a href="http://127.0.0.1:5000/home">Головна</a></li>
  <li><a href="http://127.0.0.1:5000/registration" class="current">Запис на пройом</a></li>
  <li><a href="http://127.0.0.1:5000/list">Всі записи</a></li>
</ul>

<h1>Вы не были зарегистрированы на прием, проверьте введенные данные</h1>