<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
</head>

<body style="text-align: center">
<ul class="menu-main">
  <li><a href="http://127.0.0.1:5000/home" class="current">Головна</a></li>
  <li><a href="http://127.0.0.1:5000/registration">Запис на пройом</a></li>
  <li><a href="http://127.0.0.1:5000/list">Всі записи</a></li>
</ul>

<img src="{{ img }}" alt="grafic" height="600">

</body>
</html>