{% extends "layout.jinja2" %}

{% block content %}
    <div class="container">
        <h1>Workshop 4(Groups)</h1>
        <ul id="groups">
            {% for group in groups %}
                <li>
                    <span class="field-name">Group name:</span>
                    <span class="field-value">{{ group.name }}</span>
                    <br/>
                    <span class="field-name">Created:</span>
                    <span class="field-value">{{ group.created }}</span>
                    <span class="field-name">Users:</span>
                    <br/>
                    <ol>
                        {% for user in group.users %}
                            <li>
                                <span class="field-name">{{ user.email }}</span>
                            </li>
                        {% endfor %}
                    </ol>
                </li>
            {% endfor %}
        </ul>
            <form action="" method="post">
                <p>
                    {{ form.name.label }} <br>
                    {{ form.name(size=32) }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
    </div>
{% endblock %}
