<!DOCTYPE html>
<html>
<head>
	<title>Матеріали</title>

	<link rel="stylesheet" href="{{ url_for('static', filename = 'styles_main.css') }}">

	<style type="text/css">
		
		#BUT {

			  border-radius: 8px;
			  border-color: black;
			  border-width: 1.2px;


			  color: white;
			  background-color: black;

			  padding-left: 2%;
			  padding-right: 2%;
			  padding-top: 0.5%;
			  padding-bottom: 0.5%;

		}

		#BUT_MAIN {

			  border-radius: 8px;
			  border-color: black;
			  border-width: 1.2px;


			  color: white;
			  background-color: black;

			  padding-left: 8%;
			  padding-right: 8%;
			  padding-top: 1%;
			  padding-bottom: 1%;

			  margin: auto;

		}

	</style>

	<script>
	function proceed() {

	  var supplier = document.getElementById("supp").value;
	  var quantity = document.getElementById("quantity").value;

	  if (supplier == 'Choose') {
	  	alert('Оберіть постачальника');

	  } else {
	  	window.location.href = "http://127.0.0.1:5000/materials/send_email/?supp="+supplier+"&quantity="+quantity;
	  }
	}
	</script>

</head>
<body>

<div id="Main_Head">

	<a href="{{ url_for('Home') }}" class="Headings">Триград</a>
	<a href="{{ url_for('Materials') }}" style="color: yellow;" class="Headings">Матеріали</a>
	<a href="{{ url_for('Suppliers') }}" class="Headings">Постачальники</a>
	<a href="{{ url_for('Dynamic') }}" class="Headings">Динаміка цін</a>

	{% if user_logged == False %}

	<a href="{{ url_for('Log') }}" id="LogIn">Увійти</a>
	<a href="{{ url_for('Register') }}" id="Reg">Зареєструватися</a>

	{% elif user_logged == True %}

	<a href="" id="LogIn"> Вхід виконано як {{user_name}} </a>
	<a href="{{ url_for('Logout') }}" style="color: white;"> Вийти </a>

	{% endif %}

</div>

<div style = "border-width: 2px; width: 35%; margin:auto; margin-top: 5%">
	<p style="font-family: Times New Roman; font-size: 26px;"><b> {{ mat_name }} </b></p>

	<br>

	<b>Постачальники цього матеріалу:</b>

	{% for supplier in suppliers %}
	<p> {{ supplier[0] }} &emsp; <span> <b>Ціна:</b> {{supplier[1]}} </span> </p>
	{% endfor %}
	<br>
	<p><b> Середня Ціна: </b> {{ avg_price }} </p>
	<br><br><br><br>
	<p><b> Короткий опис: </b> {{ description }} </p>


	{% if user_logged == True %}
	<b style="text-align: center;">Зробити замовлення</b>
	<form action="http://127.0.0.1:5000/materials/send_email">

	  <label for="supp">Постачальник: </label>

		<select id="supp" name="supp">
		  <option value="Choose"selected>Обрати</option>

		  {% for supplier in suppliers %}
		  {% if supplier[0] != 'Інформація, на жаль, відсутня' %}
		  <option value="{{ supplier[0] }}">{{ supplier[0] }}</option>
		  {% endif %}
		  {% endfor %}

		</select>

	  <label for="quantity">Кількість: </label>
	  <input style="text-align: center;" type="number" style="border-radius: 5px;" id="quantity" name="quantity" min="1" max="2000" value="1">
	  <br><br>
	  <input style="text-align: center;" id="BUT_MAIN" type="submit" value="Замовити" onclick="proceed()">
	</form>
	{% endif %}


	{% if user_logged == True %}
	{% if username == 'admin' %}
	  <br>
	  <br>
	  <br>

		<form style=" display: inline-block;" action = "http://127.0.0.1:5000/materials/delete" method = "post">
		  <input id="BUT" style="float: right; display: inline-block;" type="submit" value="Видалити матеріал">
		</form>

		<form style=" display: inline-block;"  action = "http://127.0.0.1:5000/materials/update" method = "post">
		  <input id="BUT" style="float: left; display: inline-block;" type="submit" value="Редагувати матеріал">
		</form>

	{% endif %}
	{% endif %}

</div>


	{% with messages = get_flashed_messages() %}
	  {% if messages %}

	    {% for message in messages %}
	      <script type="text/javascript">
	      	alert("{{ message }}");
	      </script>

	    {% endfor %}

	  {% endif %}
	{% endwith %}

</body>
</html>