<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>


    <form action = "/api" method = "POST" id="form_instrum">
         <p>Type of instrument <input type = "text" name = "type" value="{{instrum.get('instrum_type')}}"/></p>
         <p>Model of instrument <input type = "text" name = "model" value="{{instrum.get('instrum_model')}}" /></p>
         <p>Country of instrument <input type = "text" name = "country" value="{{instrum.get('instrum_country')}}" /></p>
     </form>

    <button type="submit" form="form_instrum" name="action" value="instrum_update">Update</button>


</body>
</html>
