<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Safario Travel - Contact</title>

    <style>
   table {
    width: 300px; /* Ширина таблицы */
    border: 1px solid purple; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
  </style>


  <link rel="icon" href="{{ url_for ('static', filename= 'Fevicon.png')}}" >
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'all.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'themify-icons.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'style.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'owl.theme.default.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'owl.carousel.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'magnific-popup.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'flaticon.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'nice-select.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename= 'style.css')}}">

</head>
<body>

   <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="{{ url_for ('index')}}"><img src="{{ url_for ('static', filename= 'logo.png')}}" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

         <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item active"><a class="nav-link" href="{{ url_for ('index')}}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for ('package')}}">Your tour</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for ('contact')}}">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:5000/feedback/">Feedback</a></li>
            </ul>

          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->



  <!--================Hero Banner SM Area Start =================-->
  <section class="hero-banner-sm magic-ball magic-ball-banner" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 0px -80px" data-top-bottom="background-position: 0 100px">
    <div class="container">
      <div class="hero-banner-sm-content">
        <h1>Unfortunately your data was not saved!</h1>
        <p>Make sure you are over 16, all fields are covered and you put  valid email! Hope to see you again.</p>
      </div>
    </div>
  </section>
  <!--================Hero Banner SM Area End =================-->

<table border="5">
    {% for key, value in result.items() %}
    <tr>

        <th>
            {{key}}
        </th>
        <td>
            {{value}}
        </td>
    </tr>
    {% endfor%}
</table>




 <!-- ================ start footer Area ================= -->
  <footer class="footer-area">
    <div class="container">


      <div class="footer-bottom">
        <div class="row align-items-center">
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made with love by <a href="https://colorlib.com" target="_blank">Liliia Skaletska</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->

<script src="{{ url_for ('static', filename= 'jquery-3.2.1.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'owl.carousel.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'jquery.magnific-popup.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'jquery.nice-select.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'jquery.ajaxchimp.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'skrollr.min.js')}}"></script>
  <!-- <script src="js/countdown.js"></script> -->
  <script src="{{ url_for ('static', filename= 'jquery.magnific-popup.min.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'main.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'jquery.form.js')}}"></script>
  <script src="{{ url_for ('static', filename= 'jquery.validate.min.js')}}"></script>



</body>
</html>