<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL</title>

</head>
<body>
<h1>User info</h1>
    <p>{{ user['fullname'] }}    </p>
    <p>{{ user['email'] }}    </p>
    <p>{{ user['registration'] }}    </p>
    <p>{{ user['id'] }}    </p>
    <p>{{ user['login'] }}    </p>
    <p>{{ user['book_amount'] }}    </p>
<h1>Book info</h1>
    <p>{{ book['name'] }}</p>
    <p>{{ book['url'] }}</p>
    <p>{{ book['create_time'] }}    </p>
    <p>{{ book['author'] }}    </p>
</body>
</html>