<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
</head>
<body>


    <form action = "/api" method = "POST" id="form_user">
         <p>Name <input type = "text" name = "name" value="{{user.get('user_name')}}"/></p>
         <p>Surname <input type="text" name="surname" value="{{user.get('user_surname')}}"/></p>
         <p>Email <input type = "text" name = "email" value="{{user.get('user_email')}}"/></p>
         <p>Phone number <input type = "text" name = "phone" value="{{user.get('user_phone_number')}}"/></p>
     </form>

    <button type="submit" form="form_user" name="action" value="user_update">Submit</button>


</body>
</html>