{% extends 'layout/base.html' %}

{% block title %}{{ title }}{% endblock title%}

{% block content %}
<div>
    <h2>{{ title }}</h2>
    <hr>
    <div style="text-align: left" class="form-container">
        <form method="post" action="/lots/create" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form">
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        <div class="fields">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p style="margin-top: 20px" class="senders">
                <button type="submit" class="sender">Create</button>
                <button type="reset" class="sender">Clear</button>
            </p>
        </form>
    </div>
    <a href="/lots">Back to all your lots</a>
    <hr>
</div>
{% endblock content %}
