.carousel {
  height: 500px !important;
}
.carousel-inner img {
  height: 600px !important;
  margin: 0 auto;
  width = 100%;
}
.icon_color{
    color: #E3C911 !important;
}
.mrgn{
margin-top: 20%;
}
