<html>
    <head>
        <title>Restaurant App</title>
    </head>
    <body>
        <h1 style="text-align: center;">Restaurant App</h1>
        <h2>This is test version where you can make basic version of login and to insert value</h2>
        <h2>Login</h2>
        <ul>
            <li><a href='/login/'>register</a></li>
        </ul>
        <h2>Orders</h2>
        <ul>
            <li><a href='/order/'>order</a></li>
        </ul>
        <h2>Shedule</h2>
        <ul>
            <li><a href='/schedule/'>schedule</a></li>
        </ul>
    </body>
</html>