{%extends 'main.html'%}

{% block title%}
User
{% endblock %}

{% block body%}
    <form action = "/api" method = "POST" id="form_user">
		<p>id <input type = "text" name = "id" value="{{user.get('id')}}" /></p>
        <p>username <input type = "text" name = "username" value="{{user.get('username')}}"/></p>
        <p>country <input type = "text" name = "country" value="{{user.get('country')}}" /></p>
     </form>

    <button type="submit" form="form_user" name="action" value="user_update">Submit</button>

{% endblock %}