<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
    <style>
        table {
            width: 300px;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding:10px;
            align="center";
        }

    </style>
</head>
<body>
<table>
    <tr>
        <th>user_name</th>
        <th>user_phone</th>
    </tr>
    <tr>
        <td>{{user.get('user_name')}}</td>
        <td>{{user.get('user_phone')}}</td>
    </tr>
</table>

<br/>

<table>
    <tr>
        <th>instrum_type</th>
        <th>instrum_model</th>
        <th>instrum_country</th>
    </tr>
    <tr>
        <td>{{instrum.get('instrum_type')}}</td>
        <td>{{instrum.get('instrum_model')}}</td>
        <td>{{instrum.get('instrum_country')}}</td>
    </tr>
</table>
 <form action = "/api" method = "POST" id="form_user">
 </form>
 <button type="submit" form="form_user" name="action" value="update_user">Update User</button>      <button type="submit" form="form_user" name="action" value="update_instrum">Update Data Instrument</button>

</body>
</html>
