{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block body %}
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFCCCC"></rect><text x="50%" y="50%" fill="#000000" dy=".3em">Ресторан 1</text></svg>
            <div class="card-body">
              <p class="card-text">Тут виводиться інформація про ресторани: телефон, адреса, і т.д.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">У замовлення</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">До обраного</button>
                </div>
                <small class="text-muted">відстань</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFFFCC"></rect><text x="50%" y="50%" fill="#000000" dy=".3em">Ресторан 2</text></svg>
            <div class="card-body">
              <p class="card-text">Тут виводиться інформація про ресторани: телефон, адреса, і т.д.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">У замовлення</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">До обраного</button>
                </div>
                <small class="text-muted">відстань</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#CCFFCC"></rect><text x="50%" y="50%" fill="#000000" dy=".3em">Ресторан 3</text></svg>
            <div class="card-body">
              <p class="card-text">Тут виводиться інформація про ресторани: телефон, адреса, і т.д.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">У замовлення</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">До обраного</button>
                </div>
                <small class="text-muted">відстань</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#CCFFFF"></rect><text x="50%" y="50%" fill="#000000" dy=".3em">Ресторан 4</text></svg>
            <div class="card-body">
              <p class="card-text">Тут виводиться інформація про ресторани: телефон, адреса, і т.д.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">У замовлення</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">До обраного</button>
                </div>
                <small class="text-muted">відстань</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#CCCCFF"></rect><text x="50%" y="50%" fill="#000000" dy=".3em">Ресторан 5</text></svg>
            <div class="card-body">
              <p class="card-text">Тут виводиться інформація про ресторани: телефон, адреса, і т.д.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">У замовлення</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">До обраного</button>
                </div>
                <small class="text-muted">відстань</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFCCE5"></rect><text x="50%" y="50%" fill="#000000" dy=".3em">Ресторан 6</text></svg>
            <div class="card-body">
              <p class="card-text">Тут виводиться інформація про ресторани: телефон, адреса, і т.д.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">У замовлення</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">До обраного</button>
                </div>
                <small class="text-muted">відстань</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#66FFB2"></rect><text x="50%" y="50%" fill="#000000" dy=".3em">Ресторан 7</text></svg>
            <div class="card-body">
              <p class="card-text">Тут виводиться інформація про ресторани: телефон, адреса, і т.д.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">У замовлення</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">До обраного</button>
                </div>
                <small class="text-muted">відстань</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#99FFFF"></rect><text x="50%" y="50%" fill="#000000" dy=".3em">Ресторан 8</text></svg>
            <div class="card-body">
              <p class="card-text">Тут виводиться інформація про ресторани: телефон, адреса, і т.д.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">У замовлення</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">До обраного</button>
                </div>
                <small class="text-muted">відстань</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFB266"></rect><text x="50%" y="50%" fill="#000000" dy=".3em">Ресторан 9</text></svg>
            <div class="card-body">
              <p class="card-text">Тут виводиться інформація про ресторани: телефон, адреса, і т.д.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">У замовлення</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">До обраного</button>
                </div>
                <small class="text-muted">відстань</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}