{% extends 'base_inside.html' %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
{% endblock %}

{% block content %}
<div style="font-size:0px; padding: 10px;" class="chart" id="bargraph">
    <script type="text/javascript">
        {{plot | safe}}
    </script>
</div>
<div style="font-size:0px; padding: 10px;" class="chart" id="bargraph">
    <script type="text/javascript">
        {{bar | safe}}
    </script>
</div>
{% endblock %}
