{% extends 'base_inside.html' %}

{% block content %}
<div class="jumbotron p-3" style="font-family: 'Poppins', sans-serif;">
    <div class="well text-center">
        <h2>How to use this service?</h2>
    </div>
</div>

<div class="container" style="font-family: 'Poppins', sans-serif; font-size: 16px;">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h4><b>Analytical approach</b></h4>
                <div class="well text-left">
                    <em>In this service you can spot three main parts! Analytacal part dedicated to display you
                        visual analytics about yours cinemas and how well people visited them and in  this part 
                        you can see bar chart that shows you how well snacks are selling.</em>
                </div>
                <h4><b>Control your store</b></h4>
                <div class="well text-left">
                    <em>In Snack part you can get full control of your data which correspond to everything that
                        is selling in your stores. People love to eat in cinema =) Popcorn? Cola? There we are!</em>
                </div>
                <h4><b>Mange movies</b></h4>
                <div class="well text-left">
                    <em>In Films part you can easily add, delete and update information about films that are 
                        now available to watch in your cinemas. Tarantino cant wait to get inside and watch some
                        classics and brand new sensations, so give it to them!</em>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}