<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>Charts about orders</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body style="background-color: #1886E6">
<nav style="text-align: center; font-size: 250%; color:#FFFFFF">
    <a><b>Статистика за замовленнями</b></a>
</nav>
<main>
    <div class="paper" style="margin-right:25%; margin-left:25%; border-radius: 25px;">
    <div class="container" style="text-align: center">
        <div class="row">
            <div class="col-md-6">
                <div class="chart" id="bargraph" >
                    <script>
                        var graphs = {{plot | safe}};
                        layout = {{ title|safe }};
                        Plotly.plot('bargraph',graphs, layout);
                    </script>
                </div>
                <div id="pie" style="margin: center; text-align: center;">
                  <script>
                    var data = {{ graph_values|safe }};
                    layout = {{ layout|safe }};
                    Plotly.newPlot('pie', data, layout);
                  </script>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>
