{% extends 'layouts/mainlayout.html' %}

{% block title %}
Statistic
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Purchased items</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Weapon</th>
      <th scope="col">Price</th>
      <th scope="col">Type</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
        <tr>
          <td>{{ item['gun_name'] }}</td>
          <td>{{ item['gun_price'] }}</td>
          <td>bought</td>
          <td>{{ time }}</td>
        </tr>
    {% endfor %}

  </tbody>
</table>
</div>

{% endblock %}